html {
  background: #3A3A3A
}

body {
  color: #333333;
  font-family: 'sans';
  max-width: 750px;
  margin: 0 auto;
  padding: 0 16px;
  background: #DDDDDD;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #CCCCCC;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 16px;
}

a {
  color: #1abbaa
}